<div class="row">
    <div class="col-md-4">
        <h2 class="sub-header">录入候选人</h2>
        <form ng-submit="submit_one()">
            <div class="form-group">
                <label for="candidate_num">提名书号</label>
                <input type="text" class="form-control" id="candidate_num" ng-model="candidate.candidate_num"
                       placeholder="提名书号" required>
            </div>
            <div class="form-group">
                <label for="name">姓名</label>
                <input type="text" class="form-control" id="name" ng-model="candidate.name" placeholder="姓名" required>
            </div>
            <div class="form-group">
                <label for="age">年龄</label>
                <input type="text" class="form-control" id="age" ng-model="candidate.age" placeholder="年龄" required>
            </div>
            <div class="form-group">
                <label for="major">学科专业</label>
                <input type="text" class="form-control" id="major" ng-model="candidate.major" placeholder="学科专业"
                       required>
            </div>
            <div class="form-group">
                <label for="company">工作单位</label>
                <input type="text" class="form-control" id="company" ng-model="candidate.company" placeholder="工作单位"
                       required>
            </div>
            <div class="form-group">
                <label for="department">学部</label>
                <input type="text" class="form-control" id="department" ng-model="candidate.department" placeholder="学部"
                       required>
            </div>
            <div class="form-group">
                <label for="native_place">籍贯</label>
                <input type="text" class="form-control" id="native_place" ng-model="candidate.native_place"
                       placeholder="籍贯" required>
            </div>
            <div class="form-group">
                <label for="ethnicity">民族</label>
                <input type="text" class="form-control" id="ethnicity" ng-model="candidate.ethnicity" placeholder="民族"
                       required>
            </div>
            <div class="form-group">
                <label for="highest_education">最高学历</label>
                <input type="text" class="form-control" id="highest_education" ng-model="candidate.highest_education"
                       placeholder="最高学历" required>
            </div>

            <button type="submit" class="btn btn-primary btn-lg">录入</button>
        </form>
    </div>
    <div class="col-md-5 col-md-offset-2">
        <h2 class="sub-header">导入候选人</h2>
        <div>
            <ng-csv-import
                    class="import"
                    content="csv.content"
                    header="csv.header"
                    header-visible="csv.headerVisible"
                    separator="csv.separator"
                    separator-visible="csv.separatorVisible"
                    result="csv.result"
                    encoding="csv.encoding"
                    encoding-visible="csv.encodingVisible"
                    upload-button-label="csv.uploadButtonLabel"
                    ng-click="clicked()"></ng-csv-import>
        </div>
        <div class="panel panel-default uploadConfirm">
            <div class="panel-heading">文件信息</div>
            <div class="panel-body">
                <div ng-show="csv.result.filename != null">
                    <div>选择的文件：{{csv.result.filename}}</div>
                    <button type="button" id="uploadbtn" class="btn btn-primary" ng-click="upload_csv()">上传</button>
                </div>
                <div class="text-center" ng-show="csv.result.filename == null">
                    尚未选择文件
                </div>
            </div>
        </div>
        <p>文件规则：</p>
        <p>1.支持CSV文件上传</p>
        <p>2.CSV上传前确保编码为UTF-8</p>
        <p>3.CSV文件第一行为字段名称，分别为：candidate_num(提名书号)，name(姓名)，age(年龄)，major(学科专业)，
            company(工作单位)，department(学部)，native_place(籍贯)，ethnicity(民族)，highest_education(最高学历)
        </p>
    </div>
</div>

