<h2 class="sub-header">候选人分组</h2>
<div class="row">
    <div class="col-md-10">
        <form class="form-inline" ng-init="get_department()">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="searchbox" for="department">学部:</label>
                        <select id="department" class="form-control" ng-model="department"
                                ng-options="item for item in departmentList">>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="searchbox" for="name">组名称:</label>
                        <input type="text" class="form-control" ng-model="group" id="name" placeholder="组名称">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="submit()">确定分组</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <ul class="list-inline list-group">
            <li class="list-group-item" ng-repeat="item in candidate">
                <input type="checkbox" ng-model="item.checked" ng-click="changelist(item.checked,item.name)">{{item.name}}
            </li>
        </ul>
    </div>
</div>
<tm-pagination conf="paginationConf"></tm-pagination>