<h2 class="sub-header">查看候选人</h2>
<div class="row">
    <div class="col-md-10">
        <form class="form-inline" ng-init="get_department()">
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="searchbox" for="department">学部:</label>
                        <select id="department" class="form-control" ng-model="department"
                                ng-options="item for item in departmentList">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="searchbox" for="group">组:</label>
                        <select id="group" class="form-control" ng-model="group"
                                ng-options="item for item in groupList">
                        </select>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="searchbox" for="name">姓名:</label>
                        <input class="form-control" type="text" ng-model="name" id="name" placeholder="姓名">
                    </div>
                </div>
                <div class="col-xs-1">
                    <button type="submit" class="btn btn-primary" ng-click="get_candidate()">查询</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="table-responsive" ng-init="get_candidate()">
    <table class="table table-striped table-bordered" id="searchtable">
        <thead>
        <tr>
            <th>提名书号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>学科专业</th>
            <th>工作单位</th>
            <th>所在学部</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in candidate">
            <td class="col-md-1">{{item.candidate_num}}</td>
            <td class="col-md-1">{{item.name}}</td>
            <td class="col-md-1">{{item.age}}</td>
            <td class="col-md-3">{{item.major}}</td>
            <td class="col-md-3">{{item.company}}</td>
            <td>{{item.department}}</td>
            <td>
                <a href="" ng-click="edit_candidate(item)"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href=""><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<tm-pagination conf="paginationConf"></tm-pagination>