<h2 class="sub-header">投票设置</h2>
<div class="row" id="vote" ng-init="init()">
    <div class="col-md-4">
        <form ng-submit="begin_vote()">
            <div class="form-group">
                第 <u>{{round}}</u> 轮第 <u>{{times}}</u> 次投票
            </div>

            <div class="form-group">
                <label>候选人范围：</label>
                <label class="radio-inline">
                    <input type="radio" name="is_group" ng-model="is_group" ng-value="true"
                           ng-change="get_conditions()" ng-disabled="round>1 || times>1|| vote_begin" required>分组
                </label>
                <label class="radio-inline">
                    <input type="radio" name="is_group" ng-model="is_group" ng-value="false"
                           ng-change="get_conditions()" ng-disabled="round>1 || times>1|| vote_begin" required>不分组
                </label>
            </div>

            <div class="form-group">
                <label>选举类型：</label>
                <label class="radio-inline">
                    <input type="radio" name="vote_type" required ng-disabled="vote_begin">正式
                </label>
                <label class="radio-inline">
                    <input type="radio" name="vote_type" required ng-disabled="vote_begin"> 预选
                </label>
            </div>

            <div class="form-group">
                <label>选票类型：</label>
                <label class="radio-inline">
                    <input type="radio" name="ballot_type" ng-model="voteData.ballot_type" value="计分"
                           required ng-disabled="vote_begin">
                    计分(A、B、C)
                </label>
                <label class="radio-inline">
                    <input type="radio" name="ballot_type" ng-model="voteData.ballot_type" value="表决"
                           ng-disabled="vote_begin"> 表决(√，×)
                </label>
            </div>

            <div class="form-group">
                <label for="advance_num">晋级人数：</label>
                <input id="advance_num" type="number" min="1" max="100" ng-model="voteData.advance_num"
                       ng-disabled="vote_begin" required>
            </div>

            <div class="form-group">
                <label for="voter_num">投票人数：</label>
                <input id="voter_num" type="number" min="1" max="100" ng-model="voteData.voter_num"
                       ng-disabled="vote_begin" required>
            </div>

            <div class="form-group">
                <label for="hour">投票时限：</label>
                <input id="hour" type="number" min="0" max="5" ng-model="hour" ng-disabled="vote_begin"
                       required>小时
                <input type="number" min="0" max="59" ng-model="minute" ng-disabled="vote_begin"
                       required>分钟
            </div>
            <div class="form-group">
                <label for="title">选票标题：</label>
                <input id="title" type="text" class="form-control" ng-model="voteData.title" ng-disabled="vote_begin"
                       required>
            </div>

            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="vote_begin">
                开启投票
            </button>
        </form>
        <div id="end">
            <button class="btn btn-danger btn-lg" ng-click="end_election()" ng-if="!vote_begin&&round>1&&times==1">
                结束选举
            </button>
            <button class="btn btn-warning btn-lg" ng-click="end_round()"
                    ng-if="!vote_begin && (times>1)">
                结束本轮投票
            </button>
        </div>
    </div>

    <div class="col-md-3" ng-if="!elec_begin">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in conditions">
                <input type="checkbox" ng-click="select_condition(item)">
                {{item}}<span ng-if="!is_group">学部</span>
            </li>
        </ul>
    </div>


    <div class="col-md-5" ng-show="vote_begin">
        <div id="container" class="center-block">
            <h3 class="text-center">投票时间剩余</h3>
            <div id="timer"></div>
            <button class="btn btn-success center-block" ng-click="end_vote()">结束本次投票</button>
        </div>
    </div>
    <div class="col-md-2 pull-right">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">投票结果</div>
            <div class="panel-body">
                <div class="text-center" ng-show="voteResultList.length==0">
                    暂无结果
                </div>
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="item in voteResultList" href="" ng-click="show_modal(item)">
                        第{{item.round}}轮<span ng-if="item.times != null">第{{item.times}}次</span>结果
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
