.sub-header {
    text-align: center;
}

th {
    text-align: center;
}

@media only screen and (max-width: 520px) {
    .table-responsive {
        margin-right: 5rem;
    }
}

.table-responsive{
    margin-right: 5rem;
}