<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>中国工程院无线投票系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/vote.css">
</head>
<body ng-app="vote" ng-controller="vote_ctrl" ng-init="init()" ng-show="is_start">
<h2 class="sub-header">
    <span ng-bind="voteData.department"></span>第<span ng-bind="voteData.round"></span>轮
    <span ng-bind="voteData.group"></span><span ng-bind="voteData.vote_type"></span>第
    <span ng-bind="voteData.times"></span>次
</h2>
<h3 class="text-center" id="timer"></h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th rowspan="2">提名书号</th>
            <th rowspan="2">姓名</th>
            <th rowspan="2">年龄</th>
            <th rowspan="2">学科专业</th>
            <th rowspan="2">工作单位</th>
            <th colspan="3" ng-if="voteData.ballot_type =='记分'">圈选栏</th>
            <th colspan="2" ng-if="voteData.ballot_type =='表决'">圈选栏</th>
        </tr>
        <tr>
            <th ng-if="voteData.ballot_type =='记分'">A</th>
            <th ng-if="voteData.ballot_type =='记分'">B</th>
            <th ng-if="voteData.ballot_type =='记分'">C</th>

            <th ng-if="voteData.ballot_type =='表决'"><i class="glyphicon glyphicon-ok"></i></th>
            <th ng-if="voteData.ballot_type =='表决'"><i class="glyphicon glyphicon-remove"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in voteData.candidates">
            <td>{{item.candidate_num}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.major}}</td>
            <td>{{item.company}}</td>

            <td ng-if="voteData.ballot_type =='记分'"><input type="radio" name="{{item}}" ng-model="item.score" value="3">
            </td>
            <td ng-if="voteData.ballot_type =='记分'"><input type="radio" name="{{item}}" ng-model="item.score" value="2">
            </td>
            <td ng-if="voteData.ballot_type =='记分'"><input type="radio" name="{{item}}" ng-model="item.score" value="1">
            </td>

            <td ng-if="voteData.ballot_type =='表决'"><input type="radio" name="{{item}}" ng-model="item.score" value="1">
            </td>
            <td ng-if="voteData.ballot_type =='表决'"><input type="radio" name="{{item}}" ng-model="item.score" value="0">
            </td>
        </tr>
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-success btn-lg center-block" ng-click="submit()">提交</button>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="js/vote.js"></script>
<script src="js/timer.js"></script>
</body>
</html>