<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lixindi.gradproject.dao.CandidateMapper">
    <resultMap id="BaseResultMap" type="com.lixindi.gradproject.vo.CandidateInfo">
        <result column="candidate_num" property="candidate_num" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="major" property="major" jdbcType="VARCHAR"/>
        <result column="company" property="company" jdbcType="VARCHAR"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
        <result column="native_place" property="native_place" jdbcType="VARCHAR"/>
        <result column="ethnicity" property="ethnicity" jdbcType="VARCHAR"/>
        <result column="highest_education" property="highest_education" jdbcType="VARCHAR"/>
        <result column="group" property="group" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertCandidate">
        INSERT INTO
        candidate(candidate_num,name,age,major,company,department,native_place,ethnicity,highest_education)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.candidate_num}, #{item.name}, #{item.age}, #{item.major}, #{item.company}, #{item.department},
            #{item.native_place}, #{item.ethnicity}, #{item.highest_education})
        </foreach>
    </insert>

    <select id="getCandidate" resultMap="BaseResultMap">
        SELECT * FROM candidate
        <where>
            <if test="department != null and department != ''">
                department = #{department}
            </if>
            <if test="group != null and group != ''">
                AND `group` = #{group}
            </if>
            <if test="name != null and name != ''">
                AND `name` LIKE "%"#{name}"%"
            </if>
        </where>
        ORDER BY candidate_num
        <if test="offset != null and itemsPerPage != null">
            limit #{offset},#{itemsPerPage}
        </if>
    </select>

    <select id="getNominee" resultMap="BaseResultMap">
        SELECT * FROM candidate
        <where>
            department = #{department}
            AND is_elected = FALSE
            <if test="groups != null">
                AND `group` IN
                <foreach collection="groups" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY candidate_num
    </select>

    <select id="getDepartment" resultType="java.lang.String">
        SELECT DISTINCT department
        from candidate
        <if test="mode == true">
            WHERE is_elected = FALSE
        </if>
    </select>

    <select id="getTotal" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM candidate
        <where>
            <if test="department != null and department!= ''">
                department = #{department}
            </if>
            <if test="group != null and group != ''">
                AND `group` = #{group}
            </if>
            <if test="name != null and name != ''">
                AND `name` LIKE "%"#{name}"%"
            </if>
        </where>
    </select>

    <select id="getGroupByDepartment" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT DISTINCT `group`
        from candidate
        WHERE department = #{department}
        <if test="mode == true">
            AND is_elected = FALSE
        </if>
    </select>

    <update id="updateGroup">
        UPDATE candidate
        SET `group` = #{group}
        <where>
            <if test="department != null and department != ''">
                department = #{department}
            </if>
            AND `name` = #{name}
        </where>
    </update>

    <update id="updateCandidate">
        UPDATE candidate
        <set>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="age != null and age != ''">
                age = #{age},
            </if>
            <if test="major != null and major!= ''">
                major = #{major},
            </if>
            <if test="company != null and company!= ''">
                company = #{company},
            </if>
            <if test="department != null and department != ''">
                department = #{department},
            </if>
            <if test="native_place != null and native_place != ''">
                native_place = #{native_place},
            </if>
            <if test="ethnicity != null and ethnicity != ''">
                ethnicity = #{ethnicity},
            </if>
            <if test="highest_education != null and highest_education != ''">
                highest_education = #{highest_education}
            </if>
        </set>
        WHERE candidate_num = #{candidate_num}
    </update>

    <update id="markCandidate">
        UPDATE candidate
        <set>
            is_elected = TRUE
        </set>
        where candidate_num IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <delete id="deleteCandidate">
        DELETE FROM candidate
        <where>
            `name` = #{name}
            AND age = #{age}
            AND department = #{department}
        </where>
    </delete>

</mapper>