<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lixindi.gradproject.dao.CandidateMapper">
    <resultMap id="BaseResultMap" type="com.lixindi.gradproject.vo.CandidateInfo">
        <result column="candidate_num" property="candidate_num" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="major" property="major" jdbcType="VARCHAR"/>
        <result column="company" property="company" jdbcType="VARCHAR"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
        <result column="group" property="group" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertCandidate">
        INSERT INTO
        candidate(candidate_num,name,age,major,company,department)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.candidate_num}, #{item.name}, #{item.age}, #{item.major}, #{item.company}, #{item.department})
        </foreach>
    </insert>

    <select id="getCandidate" resultMap="BaseResultMap">
        SELECT * FROM candidate
        <where>
            <if test="department != null and department != ''">
                department = #{department}
            </if>
            <if test="group != null and group != ''">
                AND group = #{group}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
        </where>
        limit #{offset},#{itemsPerPage}
    </select>

    <select id="getDepartment" resultType="java.lang.String">
        SELECT DISTINCT department
        from candidate
    </select>

    <select id="getTotal" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM candidate
        <where>
            <if test="_parameter != null and _parameter!= ''">
                department = #{department}
            </if>
        </where>
    </select>

    <update id="updateGroup">
        UPDATE candidate
        SET group = #{group}
        <where>
            <if test="department != null and department != ''">
                department = #{department}
            </if>
            AND name = #{name}
        </where>
    </update>
</mapper>